* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* faz com que a largura do container seja a largura total, incluindo padding e borda */
}

:root {
    font-family: 'Alice', serif;
    line-height: 150%;
    color: #573A37;
}


body {
    background-image: url(img/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #F0E8C2;
    border-radius: 24px;
    padding: 24px;
    width: 800px;
    margin: 48px auto 28px; /* centraliza o container, 48px na parte de cima e embaixo e automatico tamanho igual dos lados */
}

#imgCupcake {
    border-radius: 16px;
}

main {
    padding: 24px;
}

section + section {
    margin-top: 24px;
}
#textoInicial p + p{
    margin-top: 12px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    line-height: 150%;
    color: #291B1A;
    margin-bottom: 4px;
}

ul {
    padding-left: 24px;
}

#paragrafo {
    font-size: 16px;
}

footer {
    text-align: center;
    color: #F0E8C2;
    padding-bottom: 48px;
}

footer img {
    vertical-align: middle;
}
